body {
    margin: 0;
    background-color: #BED2E9;

    display: flex;
    align-items: center;
    flex-direction: column; /* Mantém a navbar em cima */
}


.navbar{
    width: 100%;
    height: 100px;
    background-color: #82B6DB;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;  
    display: flex;
    align-items: center;
}

.logo { 
    width: 40%;
    display: flex;
    flex-direction: row;
}

.logoImage{
    width: 70px;
    height: 70px;
    background-color: #4C97CD;
    border-radius: 100px;
    margin-left: 40px;
    align-items: center;
    justify-content: center;
    display: flex;
    color: aliceblue;
}

.buttonsNav {
    display: flex;
    align-items: center;
    width: 80%;
    gap: 75px;
}

.navButton {
    background: none;
    border: none;
    font-style: italic;
    color: #FFFFFF;
    font-size: 20px;
    font-style: italic;
}

.navButton:hover {
    cursor: pointer;
}

.buttons {
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: right;
    margin-right: 25px;
    gap: 50px;
}

.select-wrapper {
  position: relative;
  display: inline-block;
}

.select-wrapper::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0px;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='white' d='M7 10l5 5 5-5H7z'/%3E%3C/svg%3E");
  background-size: cover;
  pointer-events: none;
}

.select-wrapper select {
  padding-right: 30px; 
  background: transparent;
  color: white;
  border: none;
  font-size: 20px;
  appearance: none;
  cursor: pointer;
  font-style: italic;
}

.select-wrapper select:focus {
  outline: none;
}
.logout {
  background-color: brown;
}

option {
  background-color: #d3d6da; 
  color: black; 
}

section {
    display: flex;
    flex-direction: column;
    width: 55%;
    align-items: left;
    margin-top: 100px;
}

.firstSelect, .secondSelect, .thirdSelect {
    font-size: 30px;
    font-family: 'Inter', sans-serif;
}

.secondSelect, .thirdSelect {
    margin-top: 30px;
}
.text {
    font-weight: 600;
}

select  {
    width: 100%;
    border-radius: 18px;
    height: 50px;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: #d3d6da;
    font-size: 25px;
    font-family: 'Inter', sans-serif;
    color: #A1A1A1;
}

option {
  background-color: #d3d6da; 
  color: #000;   
}



.buttonsPart {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    font-family: 'Inter', sans-serif;
}

.subtext {
    font-size: 25px;
}

.buttonsPlay {
    margin-top: 40px;
    font-weight: bold;
    font-size: 48px;
    color: #FFFFFF;
    background-color: #7BCCB5;
    box-shadow: 4px 4px #447c6c;
    width: 45%;
    height: 70px;
    border-radius: 10px;
}

.buttonsPlay:hover {
    cursor: pointer;
    box-shadow: 0px 0px;
    transform: translate(4px, 4px);
}

.buttonBack {
    width: 15%;
    height: 60px;
    border-radius: 15px;
    border: none;
    font-size: 25px;
    color: #ffffff;
    font-weight: 600;
    background-color: #3881BA;
    box-shadow: 4px 4px #162377;
    text-align: center;
    margin-top: 20px;
}

.buttonBack:hover {
    cursor: pointer;
    box-shadow: 0px 0px;
    transform: translate(4px, 4px);
}