body {
    margin: 0;
    background-color: #BED2E9;

    display: flex;
    align-items: center;
    flex-direction: column; /* Mantém a navbar em cima */
}


.navbar{
    width: 100%;
    height: 100px;
    background-color: #82B6DB;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;  
    display: flex;
    align-items: center;
}

.logo {
    width: 50%;
    display: flex;
    flex-direction: row;
}

.logoImage{
    width: 70px;
    height: 70px;
    background-color: #4C97CD;
    border-radius: 100px;
    margin-left: 40px;
    align-items: center;
    justify-content: center;
    display: flex;
    color: aliceblue;
}



.buttons {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: right;
    margin-right: 25px;
    gap: 50px;
}

.select-wrapper {
  position: relative;
  display: inline-block;
}

.select-wrapper::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0px;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='white' d='M7 10l5 5 5-5H7z'/%3E%3C/svg%3E");
  background-size: cover;
  pointer-events: none;
}

.select-wrapper select {
  padding-right: 30px; 
  background: transparent;
  color: white;
  border: none;
  font-size: 20px;
  appearance: none;
  cursor: pointer;
  font-style: italic;
}

.select-wrapper select:focus {
  outline: none;
}
.logout {
  background-color: brown;
}

option {
  background-color: #d3d6da; 
  color: black; 
}

section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Inter', sans-serif;
}

.infomationsPart {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 30px;
    font-size: 25px;
    gap: 100px;
}

.theme {
  display: flex;
  border: 3px solid black;
  border-radius: 12px;
  overflow: hidden;
  width: fit-content;
}

.btnTheme {
  padding: 10px;
  font-size: 24px;
  background: none;
  border: none;
  cursor: pointer;
  transition: background 0.3s, color 0.3s;
}

.btnTheme img {
  width: 35px;
  height: 35px;
  pointer-events: none; /* para o clique passar direto pro botão */
  transition: opacity 0.3s ease;
  opacity: 1;
}

.fade-out {
  opacity: 0;
}



.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* escurece o fundo */
  display: none; /* começa invisível */
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal.active {
  display: flex; /* mostra o modal */
}

.modal-content {
  background: white;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 5px 20px rgba(0,0,0,0.3);
  text-align: center;
  width: 40%;
  height: 450px;
  display: flex;
  flex-direction: column;
  font-family: 'Inter', sans-serif;
  align-items: center;
}

.modal-content h2 {
  margin-top: 20px;
  margin-bottom: 0px;
  font-size: 55px;
}

.modal-content p {
  font-size: 25px;
  margin-top: 10px;
}

.modal-content .stats {
  display: flex;
  flex-direction: row;
  gap: 100px;
  margin-top: 75px;
  font-size: 25px;
}

.modal-content .buttonsModal {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 100px;
}

.modal-btn {
  padding: 10px 20px;
  background-color: #6aa5b4;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s;
  font-size: 25px;
}

.modal-btn:hover {
  background-color: #558c99;
}





