body {
    margin: 0;
    background-color: #BED2E9;
}

.navbar{
    width: 100%;
    height: 100px;
    background-color: #82B6DB;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;  
    display: flex;
    align-items: center;
}

.logo {
    width: 50%;
    display: flex;
    flex-direction: row;
}

.logoImage{
    width: 70px;
    height: 70px;
    background-color: #4C97CD;
    border-radius: 100px;
    margin-left: 40px;
    align-items: center;
    justify-content: center;
    display: flex;
    color: aliceblue;
}



.buttons {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: right;
    margin-right: 25px;
    gap: 50px;
}

.select-wrapper {
  position: relative;
  display: inline-block;
}

.select-wrapper::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0px;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='white' d='M7 10l5 5 5-5H7z'/%3E%3C/svg%3E");
  background-size: cover;
  pointer-events: none;
}

.select-wrapper select {
  padding-right: 30px; 
  background: transparent;
  color: white;
  border: none;
  font-size: 20px;
  appearance: none;
  cursor: pointer;
  font-style: italic;
}

.select-wrapper select:focus {
  outline: none;
}
.logout {
  background-color: brown;
}

option {
  background-color: rgb(22, 71, 71); 
  color: white; 
}

section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cardGame{
    margin-top: 2%;
    width: 80%;
    height: 250px;
    background-color: #82B6DB;
    font-size: 41px;
    padding: 20px;
    border-radius: 20px;
    font-family: 'Inter', sans-serif;
}

.cardRanking {
    margin-top: 1%;
    width: 80%;
    height: 250px;
    background-color: #82B6DB;
    font-size: 41px;
    padding: 20px;
    border-radius: 20px;
    font-family: 'Inter', sans-serif;
}

.cardGame .text, .cardRanking .text{
    margin-left: 60px;
    margin-right: 60px;
}

.buttonsGame {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 50px;
    gap: 400px;
}

.buttonsRanking {
    display: flex;
    flex-direction: row;
    justify-content: left center;
    margin-top: 50px;
    width: 100%;
}



.btGame, .btTutorial, .btRanking {
    width: 15%;
    height: 70px;
    border-radius: 15px;
    border: none;
    font-size: 30px;
    color: #ffffff;
    font-weight: 600;
}

.btGame {
  background-color: #4AAF74;
  box-shadow: 4px 4px #3B762D;
}

.btTutorial {
  background-color: #3881BA;
  box-shadow: 4px 4px #162377;
}

.btRanking {
  background-color: #B0B843;
  box-shadow: 4px 4px #6E7121;
  margin-left: 22%;
}

.btGame:hover, .btTutorial:hover, .btRanking:hover {
  transform: translate(3px, 3px);
  box-shadow: 0px 0px;
  cursor: pointer;
}